@keyframes marquee-ltr {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50%);
  }
}

@keyframes marquee-rtl {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-ltr {
  animation: marquee-ltr 30s linear infinite;
}

.animate-marquee-rtl {
  animation: marquee-rtl 30s linear infinite;
}

/* Custom scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mask-gradient-right {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}